<div class="container-fluid px-4">
<div class="row">
    <div class="col">
        <h2>Inventory</h2>
    </div>
</div>
<form>
    <div class="row">
        <div class="col">
            <label for="ProductId" class="form-label">ProductId</label>
            <input type="text" class="form-control" placeholder="ProductId">
        </div>
        <div class="col">
            <label for="ProductName" class="form-label">Product Name</label>
            <input type="text" class="form-control" placeholder="Product Name">
        </div>
        <div class="col">
            <label for="Stock Available" class="form-label">Stock Available</label>
            <input type="text" class="form-control" placeholder="Stock Available">
        </div>
        <div class="col">
            <label for="ReorderStock" class="form-label">Reorder Stock</label>
            <input type="text" class="form-control" placeholder="Reorder Stock">
        </div>
    </div>
</form>
<div class="row mt-3">
    <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h3>Inventory Details</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Stock Available</th>
      <th scope="col">Reorder Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mobile</td>
      <td>50</td>
      <td>60</td>
      <td>
        <button type="button" class="btn btn-primary">Edit</button>&nbsp;
        <button type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Laptop</td>
      <td>30</td>
      <td>100</td>
         <td>
        <button type="button" class="btn btn-primary">Edit</button>&nbsp;
        <button type="button" class="btn btn-danger">Delete</button>
        </td>
    </tr>
   
  </tbody>
</table>
    </div>
</div>
</div>